<div class="px-4 sm:px-6 lg:px-8">
    <div class="mt-8 flow-root">
      <div class="-mx-4 -my-2 overflow-x-auto sm:-mx-6 lg:-mx-8">
        <div
          class="inline-block min-w-full py-2 align-middle sm:px-6 lg:px-8"
        >
          <table class="min-w-full">
            <thead class="bg-white">
              <tr>
                <th
                  scope="col"
                  class="py-3.5 pl-4 pr-3 text-left text-sm font-semibold text-gray-900 sm:pl-3"
                >
                  Feature
                </th>
                <th
                  scope="col"
                  class="px-3 py-3.5 text-left text-sm font-semibold text-gray-900"
                >
                  Description
                </th>

                <th
                  scope="col"
                  class="px-3 py-3.5 text-left text-sm font-semibold text-gray-900"
                >
                  Price
                </th>
              </tr>
            </thead>
            <tbody class="bg-white">
              <!-- Essential Add-Ons -->
              <tr class="border-t border-gray-200">
                <th
                  colspan="5"
                  scope="colgroup"
                  class="bg-gray-50 py-2 pl-4 pr-3 text-left text-sm font-semibold text-gray-900 sm:pl-3"
                >
                  Essential Add-Ons
                </th>
              </tr>
              <tr class="border-b border-gray-200">
                <td
                  class="whitespace-nowrap py-4 pl-4 pr-3 text-sm font-medium text-gray-900 sm:pl-3"
                >
                  <div class="font-medium text-gray-900">
                    Custom Domain Setup
                  </div>
                  <div class="mt-1 truncate text-gray-500">
                    Domain registration and configuration
                  </div>
                </td>
                <td class="whitespace-normal px-3 py-4 text-sm text-gray-500">
                  Custom domain, 3 x email accounts, contact forms
                </td>
                <td class="whitespace-nowrap px-3 py-4 text-sm text-gray-500">
                  R499.00
                </td>
              </tr>
              <tr class="border-b border-gray-200">
                <td
                  class="whitespace-nowrap py-4 pl-4 pr-3 text-sm font-medium text-gray-900 sm:pl-3"
                >
                  <div class="font-medium text-gray-900">
                    Business Email Setup
                  </div>
                  <div class="mt-1 truncate text-gray-500">
                    Professional email accounts
                  </div>
                </td>
                <td class="whitespace-normal px-3 py-4 text-sm text-gray-500">
                  Custom domain, 10 x email accounts.
                </td>
                <td class="whitespace-nowrap px-3 py-4 text-sm text-gray-500">
                  R299.00
                </td>
              </tr>

              <!-- Performance Add-Ons -->
              <tr class="border-t border-gray-200">
                <th
                  colspan="5"
                  scope="colgroup"
                  class="bg-gray-50 py-2 pl-4 pr-3 text-left text-sm font-semibold text-gray-900 sm:pl-3"
                >
                  Performance Add-Ons
                </th>
              </tr>
              <tr class="border-b border-gray-200">
                <td
                  class="whitespace-nowrap py-4 pl-4 pr-3 text-sm font-medium text-gray-900 sm:pl-3"
                >
                  <div class="font-medium text-gray-900">
                    Performance Package
                  </div>
                  <div class="mt-1 truncate text-gray-500">
                    Speed and optimization tools
                  </div>
                </td>
                <td class="whitespace-normal px-3 py-4 text-sm text-gray-500">
                  Advanced SEO tools, caching, CDN integration
                </td>
                <td class="whitespace-nowrap px-3 py-4 text-sm text-gray-500">
                  R899.00
                </td>
              </tr>

              <!-- Marketing Add-Ons -->
              <tr class="border-t border-gray-200">
                <th
                  colspan="5"
                  scope="colgroup"
                  class="bg-gray-50 py-2 pl-4 pr-3 text-left text-sm font-semibold text-gray-900 sm:pl-3"
                >
                  Marketing Add-Ons
                </th>
              </tr>
              <tr class="border-b border-gray-200">
                <td
                  class="whitespace-normal py-4 pl-4 pr-3 text-sm font-medium text-gray-900 sm:pl-3"
                >
                  <div class="font-medium text-gray-900">Marketing Tools</div>
                  <div class="mt-1 truncate text-gray-500">
                    Promotional and engagement features
                  </div>
                </td>
                <td class="whitespace-normal px-3 py-4 text-sm text-gray-500">
                  Email marketing, social media integration, ad campaign tools
                </td>
                <td class="whitespace-nowrap px-3 py-4 text-sm text-gray-500">
                  R1,299.00
                </td>
              </tr>
              <tr class="border-b border-gray-200">
                <td
                  class="whitespace-normal py-4 pl-4 pr-3 text-sm font-medium text-gray-900 sm:pl-3"
                >
                  <div class="font-medium text-gray-900">Content Generation</div>
                  <div class="mt-1 truncate text-gray-500">
                    Generating and sourcing industry specific content
                  </div>
                </td>
                <td class="whitespace-normal px-3 py-4 text-sm text-gray-500">
                 SEO, Adverting, Technical Copywriting, image sourcing, illustration packs etc.
                </td>
                <td class="whitespace-nowrap px-3 py-4 text-sm text-gray-500">
                  R799.00
                </td>
              </tr>
              <!-- E-Commerce Services -->
              <tr class="border-t border-gray-200">
                <th
                  colspan="5"
                  scope="colgroup"
                  class="bg-gray-50 py-2 pl-4 pr-3 text-left text-sm font-semibold text-gray-900 sm:pl-3"
                >
                  E-Commerce features
                </th>
              </tr>
              <tr class="border-b border-gray-200">
                <td
                  class="whitespace-normal py-4 pl-4 pr-3 text-sm font-medium text-gray-900 sm:pl-3"
                >
                  <div class="font-medium text-gray-900">
                    Additional Features
                  </div>
                  <div class="mt-1 truncate text-gray-500">
                    Custom e-commerce features
                  </div>
                </td>
                <td
                  class="whitespace-nowrap py-4 pl-4 pr-3 text-sm font-medium text-gray-500 sm:pl-3"
                >
                  Custom shipping options, payment gateways, product variations etc.
                </td>
                <td
                  class="px-3 py-3.5 text-left text-sm font-semibold text-gray-500"
                >
                  R599.00
                </td>
              </tr>

              <!-- Design Services -->
              <tr class="border-t border-gray-200">
                <th
                  colspan="5"
                  scope="colgroup"
                  class="bg-gray-50 py-2 pl-4 pr-3 text-left text-sm font-semibold text-gray-900 sm:pl-3"
                >
                  Design & Themes
                </th>
              </tr>
              <tr class="border-b border-gray-200">
                <td
                  class="whitespace-nowrap py-4 pl-4 pr-3 text-sm font-medium text-gray-900 sm:pl-3"
                >
                  <div class="font-medium text-gray-900">
                    Design Change
                  </div>
                  <div class="mt-1 truncate text-gray-500">
                    Minor design changes
                  </div>
                </td>
                <td
                  class="whitespace-nowrap py-4 pl-4 pr-3 text-sm font-medium text-gray-500 sm:pl-3"
                >
                  Change fonts, colors, layout, wording etc.
                </td>
                <td
                  class="px-3 py-3.5 text-left text-sm font-semibold text-gray-500"
                >
                  R499.00
                </td>
              </tr>
              <tr class="border-b border-gray-200">
                <td
                  class="whitespace-nowrap py-4 pl-4 pr-3 text-sm font-medium text-gray-900 sm:pl-3"
                >
                  <div class="font-medium text-gray-900">
                    Theme Change
                  </div>
                  <div class="mt-1 truncate text-gray-500">
                    Change the look and feel of your website
                  </div>
                </td>
                <td
                  class="whitespace-nowrap py-4 pl-4 pr-3 text-sm font-medium text-gray-500 sm:pl-3"
                >
                  Unsatisfied with original theme, Need to innovate etc.
                </td>
                <td
                  class="px-3 py-3.5 text-left text-sm font-semibold text-gray-500"
                >
                  R1,299.00
                </td>
              </tr>
              <tr class="border-b border-gray-200">
                <td
                  class="whitespace-nowrap py-4 pl-4 pr-3 text-sm font-medium text-gray-900 sm:pl-3"
                >
                  <div class="font-medium text-gray-900">
                    Logo Design
                  </div>
                  <div class="mt-1 truncate text-gray-500">
                    Designed with Adobe Suite in Vector format
                  </div>
                </td>
                <td
                  class="whitespace-nowrap py-4 pl-4 pr-3 text-sm font-medium text-gray-500 sm:pl-3"
                >
                  Trending Design, Rebranding, New business etc.
                </td>
                <td
                  class="px-3 py-3.5 text-left text-sm font-semibold text-gray-500"
                >
                  R799.00
                </td>
              </tr>
              <tr class="border-b border-gray-200">
                <td
                  class="whitespace-nowrap py-4 pl-4 pr-3 text-sm font-medium text-gray-900 sm:pl-3"
                >
                  <div class="font-medium text-gray-900">
                    Additional Pages
                  </div>
                  <div class="mt-1 truncate text-gray-500">
                    Add more pages to your website
                  </div>
                </td>
                <td
                  class="whitespace-nowrap py-4 pl-4 pr-3 text-sm font-medium text-gray-500 sm:pl-3"
                >
                  About, Services, Contact, Blog etc.
                </td>
                <td
                  class="px-3 py-3.5 text-left text-sm font-semibold text-gray-500"
                >
                  R299.00
                </td>
              </tr>
               <!-- Design Services -->
               <tr class="border-t border-gray-200">
                <th
                  colspan="5"
                  scope="colgroup"
                  class="bg-gray-50 py-2 pl-4 pr-3 text-left text-sm font-semibold text-gray-900 sm:pl-3"
                >
                  Security & Compliance
                </th>
              </tr>
              <tr class="border-b border-gray-200">
                <td
                  class="whitespace-nowrap py-4 pl-4 pr-3 text-sm font-medium text-gray-900 sm:pl-3"
                >
                  <div class="font-medium text-gray-900">
                    GDPR & POPIA Compliance
                  </div>
                  <div class="mt-1 truncate text-gray-500">
                    Add compliance features to your website
                  </div>
                </td>
                <td
                  class="whitespace-nowrap py-4 pl-4 pr-3 text-sm font-medium text-gray-500 sm:pl-3"
                >
                Privacy policy, cookie consent setup, data protection, terms and conditions etc.
                </td>
                <td
                  class="px-3 py-3.5 text-left text-sm font-semibold text-gray-500"
                >
                  R599.00
                </td>
              </tr>
              <tr class="border-b border-gray-200">
                <td
                  class="whitespace-nowrap py-4 pl-4 pr-3 text-sm font-medium text-gray-900 sm:pl-3"
                >
                  <div class="font-medium text-gray-900">
                    Security Package
                  </div>
                  <div class="mt-1 truncate text-gray-500">
                    Security and Backup tools
                  </div>
                </td>
                <td
                  class="whitespace-nowrap py-4 pl-4 pr-3 text-sm font-medium text-gray-500 sm:pl-3"
                >
                  SSL Certificate, Firewall, Malware protection, Backup & Restore etc.
                </td>
                <td
                  class="px-3 py-3.5 text-left text-sm font-semibold text-gray-500"
                >
                  R499.00
                </td>
              </tr>

              <!-- Custom Development -->
              <tr class="border-t border-gray-200">
                <th
                  colspan="5"
                  scope="colgroup"
                  class="bg-gray-50 py-2 pl-4 pr-3 text-left text-sm font-semibold text-gray-900 sm:pl-3"
                >
                  Custom design & development
                </th>
              </tr>
              <tr class="border-b border-gray-200">
                <td
                  class="whitespace-nowrap py-4 pl-4 pr-3 text-sm font-medium text-gray-900 sm:pl-3"
                >
                  <div class="font-medium text-gray-900">Custom Features</div>
                  <div class="mt-1 truncate text-gray-500">
                    Bespoke functionality development
                  </div>
                </td>
                <td
                  class="whitespace-nowrap py-4 pl-4 pr-3 text-sm font-medium text-gray-500 sm:pl-3"
                >
                  Specific requirements, Complex functionality etc. 
                </td>
                <td
                  class="px-3 py-3.5 text-left text-sm font-semibold text-gray-500"
                >
                  On qoute
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>