<footer class="bg-gray-900">
  <div class="mx-auto max-w-7xl overflow-hidden px-6 py-20 sm:py-24 lg:px-8">
    <nav class="-mb-6 columns-2 sm:flex sm:justify-center sm:space-x-12" aria-label="Footer">
      <div class="pb-6">
        <a href="/" class="text-sm leading-6 text-gray-600 hover:text-gray-900">Home</a>
      </div>
      <div class="pb-6">
        <a href="/templates.html" class="text-sm leading-6 text-gray-600 hover:text-gray-900">Templates</a>
      </div>
      <div class="pb-6">
        <a href="/pricing.html" class="text-sm leading-6 text-gray-600 hover:text-gray-900">Pricing</a>
      </div>
      <div class="pb-6">
        <a href="/about.html" class="text-sm leading-6 text-gray-600 hover:text-gray-900">About</a>
      </div>
      <div class="pb-6">
        <a href="/contact.html" class="text-sm leading-6 text-gray-600 hover:text-gray-900">Contact</a>
      </div>
      <div class="pb-6">
       <a href="/policies.html" class="text-sm leading-6 text-gray-600 hover:text-gray-900">Policies</a>
     </div>
      <div class="pb-6">
        <a href="/terms.html" class="text-sm leading-6 text-gray-600 hover:text-gray-900">Terms of Service</a>
      </div>
    </nav>
    <div class="mt-10 flex justify-center space-x-10">
      <a href="https://wa.me/+27645412539" class="text-gray-400 hover:text-gray-500">
        <span class="sr-only">WhatsApp</span>
        <img class="h-6 w-6 hover:cursor-pointer" src="img/whatsapp.png" alt="">
      </a>
      <a href="#" class="text-gray-400 hover:text-gray-500">
        <span class="sr-only">Facebook</span>
        <img class="h-6 w-6 hover:cursor-pointer" src="img/facebook.png" alt="">
      </a>
      <a href="mailto:info@modestdesigns.co.za" class="text-gray-400 hover:text-gray-500">
        <span class="sr-only">Email</span>
        <img class="h-6 w-6 hover:cursor-pointer" src="img/gmail.png" alt="">
    </div>
    <p class="mt-10 text-center text-xs leading-5 text-gray-500">&copy; <span id="footer-year"></span> Modest Designs, Inc. All rights reserved.</p>
   
  </div>
</footer>
